body{
    background-color: #f8f7f4;
    color: #5a1712;
}

h1 {font-size: 7vmin; font-family: 'Cormorant Garamond', serif;}
h2 {font-size: 5vmin; font-family: 'Cormorant Garamond', serif;}
h3 {font-size: 4vmin; font-family: 'Cormorant Garamond', serif;}
p {font-size: 3vmin; font-family: 'Cormorant Garamond', serif;}

a:link {color: #5e0900;}
a:visited {color: #1a1915;}

nav {
    background-color: #f7f3ef;
    padding: 10px;
    font-family: 'Cormorant Garamond', serif;
}
@media only screen and (max-width: 600px) {
    nav a {display: block; max-width: 100%;}
    span {display: none;}
}

nav a:hover {background-color: #837b60;}

#skip {
    position: absolute;
    left: -999px;
    background-color: #1d1204;
    padding: 20px;
}
#skip:focus {left: 15px;}

